# Data Preprocessing with Dask

## Preparation of Dask oriented

In [ ]:
import numpy as np
import pandas as pd

# dask --> for parallel computing in local devices 
import dask.dataframe as dd
import dask.array as da
import dask.bag as db

In [ ]:
# set up of local cluster using dask + jupyter 
from dask.distributed import Client

client = Client(n_workers=4)
client

# Execution of Data Merging

In [2]:
import os.path # importing os.path module for directory manipulation 
import glob  # Import glob for working with file patterns

# Define a path or directory containing data files
path = "/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset"

# Get the directory name   
# from the specified path 
dirname = os.path.dirname(path) 
  
# Print the directory name   
print(dirname)

/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics

In [27]:
print("Path to raw pricecatcher data files")
print(path)
print()

pricecatcher_files = glob.glob(f"{path}/*.csv")
pricecatcher_files = sorted(pricecatcher_files)
print("Sample List of Pricecatcher Files")
print(pricecatcher_files)

Path to raw pricecatcher data files
/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset

Sample List of Pricecatcher Files
['/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-01.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-02.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-03.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-04.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-05.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-06.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-07.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-08.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-09.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-10.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-11.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2022-12.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-01.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-02.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-03.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-04.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-05.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-06.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-07.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-08.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-09.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-10.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-11.csv', '/home/linux_subsystem/Documents/Thesis_GeospatialTimeSeriesAnalytics/raw dataset/pricecatcher_2023-12.csv']

In [28]:
# Load all CSV files into a Dask DataFrame
ddf = dd.read_csv(pricecatcher_files)

# Example operation: Compute the mean of a column
mean_result = ddf['price'].mean().compute()

# Print the result
print(mean_result)

13.314751659850524

In [29]:
ddf.head()

         date  premise_code  item_code  price
0  2022-01-01             2          1    9.1
1  2022-01-01             2          9   36.0
2  2022-01-01             2         14   24.0
3  2022-01-01             2         16    4.3
4  2022-01-01             2         18    4.5

In [30]:
ddf.tail()

               date  premise_code  item_code  price
2170653  2023-12-31         20903       1928   6.99
2170654  2023-12-31         20903       1930   5.99
2170655  2023-12-31         20903       1943  13.00
2170656  2023-12-31         20903       1944   5.90
2170657  2023-12-31         20903       1946   0.99

In [ ]:
# convert ddf from series into dataframe
ddf = pd.DataFrame(ddf).compute()
print("BEFORE")
print(ddf.head())

# convert 'date' attribute into date format 
ddf['date'] = pd.to_datetime(ddf['date']).compute()
# change the datetime format into YYYY/MM/DD
ddf['date'] = ddf['date'].dt.strftime('%Y/%m/%d').compute()

print("AFTER")
print(ddf)

In [0]:
# using dictionary to convert remaining columns
convert_dict = {'premise_code': int,
                'item_code': int, 
                'price': float
                }
ddf = ddf.astype(convert_dict).compute()

print(ddf)

In [ ]:
ddf.astype(str)
print(df.dtypes)

In [31]:
describe = ddf.describe().compute()
describe

       premise_code     item_code         price
count  5.650434e+07  5.650434e+07  5.650434e+07
mean   1.134232e+04  1.005108e+03  1.331475e+01
std    7.061466e+03  7.235869e+02  1.250929e+01
min   -1.000000e+00 -1.000000e+00  1.000000e-02
25%    4.110000e+03  1.520000e+02  5.500000e+00
50%    1.336900e+04  1.153000e+03  1.000000e+01
75%    1.798000e+04  1.591000e+03  1.799000e+01
max    2.090300e+04  2.058000e+03  3.599000e+03

In [ ]:
ddf.date.astype('int64')

In [18]:
corr_matrix = ddf.corr().compute()

print(corr_matrix)

ValueError: could not convert string to float: '2022-03-01'

In [ ]:
ddf1 = dd.read_csv('large_dataset1.csv')